@import default
@import _form
@import _table

table
  width: 100%
  th.name
    width: 200px
  th.state
    width: 100px
  tbody
    ul
      margin: 0
      padding: 0px 0px 0px 25px
      list-style: none
    li
      float: left
      margin-right: 10px
