@import profiles/new
@import facebox

#details
  table
    border:
      spacing: 8px 8px
  caption
    background: #{image_url("img01.gif")} repeat-x left top
    color: #FFFFFF
    font-size: 1.6em
    height: 42px
    letter-spacing: -.5px
    padding: 8px 0 0 20px
    text-align: left
  th
    text-align: right
    width: 15%
    label
      text-transform: capitalize
  td
    width: 35%

#state
  line-height: 22px
input.event
  background: #335ab8
  color: #FFFFFF
  cursor: pointer
  width: 120px
#cv
  margin-bottom: 10px
  #cv-content
    max-height: 400px
    overflow: auto
dl
  padding: 5px
dt
  border-bottom: 1px dashed #6e787d
  line-height: 20px
  .action
    color: #bf8256
    float: left
  .operator
    float: left
    font-size: smaller
    margin-left: 10px
  .date
    color: #9ec204
    float: right
dd
  margin-bottom: 10px

#state-form
  textarea#feedback_content
    border: 1px solid #60849a
