- content_for :head do
  = stylesheet_link_tag 'default', :media => 'screen'

:ruby
  sidebar [
    [t(:categories), @categories.map { |c| c.name }]
  ] # sidebar

%h2= t '.recent'
%ul
  - @operations.each do |op|
    %li= parse_event op.event
