- title, content = sidebar_box
%li
  %h2= title
  - if content.respond_to?(:to_str)
    %p= content.to_str
  - else
    %ul
      - content.each do |text, link, options|
        %li
          - if options and options.delete(:disabled)
            = text
          - else
            = link_to text, link, options
