- title, content = sidebar_box
%li
  %h2= title
  - if content.respond_to?(:to_str)
    %p= content.to_str
  - else
    %ul
      - content.each do |text, link, options|
        - if options.nil? && ( link.nil? || link.is_a?(Hash) )
          = content_tag 'li', text, link
        - else
          %li= link_to text, link, options
