-#-- head -----------------------------------------------
- content_for :head do
  = stylesheet_link_tag "admin"

-#-- sidebar --------------------------------------------
:ruby
  sidebar(
    t('configuration') => @configurations.map do |conf|
      [conf.name, admin_configuration_path(:id => conf.name)]
    end
  )

-#-- content --------------------------------------------
:ruby
  conf = flash[:selected_configuration] || @configurations.first

= render :partial => 'admin/configurations/edit', :locals => {:configuration => conf}
