-#-- head -----------------------------------------------
- content_for :head do
  = stylesheet_link_tag "admin"

-#-- sidebar --------------------------------------------
:ruby
  sidebar(
    t('configuration') => @configurations.map do |conf|
      [
        t(conf.name, :scope => 'admin.configurations'),
        admin_configuration_path(:id => conf.name)
      ]
    end
  )

-#-- content --------------------------------------------
:ruby
  conf = flash[:selected_configuration] || @configurations.first

= render_configuration_partial conf
