!!!
%html
  %head
    %title= t(:login, :scope => [:sessions, :new])
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    = stylesheet_link_tag "sessions.css", :media => "screen"
  %body
    = yield
